.navBar{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  height: 62px;
  background-color: white;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 1000;
  
  
}


.navLogo{
  margin-right: 20px;

}

.menu a{
  list-style:none;
  display: inline-block;
  
  font-weight: 500;
  text-decoration: none;

  font-size: 0.8rem;
  margin: 0 20px;
  color: black;
  padding: 20px;
  

  font-family: "Verdana", sans-serif;
  border-bottom: 3px solid white;
  transition: all 0.5s ease;

}
.sideBar a{
  list-style:none;
  display: inline-block;
  
  font-weight: 500;
  text-decoration: none;

  font-size: 18px;
  margin: 0 20px;
  color: black;
  padding: 20px;
  

  font-family: "Verdana", sans-serif;
  transition: all 0.5s ease;

}

.menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;

}


.menuLeft {
  display: flex;
  align-items: center;
  gap: 5px; 
  
}

.menuLeft a:hover{
  color:rgb(0, 0, 0);
  border-bottom: 3px solid rgb(243, 124, 124);

}

#reserve:hover{
  color: white;
  background-color: rgb(243, 124, 124);
}





#reserve{
  
  list-style:none;
  text-decoration: none;
  display: inline-block;
  
  font-weight: 500;
  text-decoration: none;

  font-size: 0.8rem;

  color: black;
  
  font-family: "Verdana", sans-serif;

}

#brandlogo{
  width: auto;
  height: 60px;
  margin-left: 50px;
  margin-right: 0px;
}




.sideBar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.716);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 0;
}

#linkSide{
  width: 50%;
}



#menuButton{
  display: none;
}


@media screen and (min-width: 768px)  {
  .navBar {
    flex-wrap: nowrap;
  }

  #menuButton {
    display: none;
  }

  .sideBar {
    display: none;
  }


}

@media screen and (max-width: 920px) {
  .menu{
    display: none;
  }

  #menuButton{
    display: block;
  }

}



/* NAV BAR END */


body{

    margin: 0;
    padding: 0;
    
    height: 100vh;
    width: auto;

}



/*akong gi update ang fonts para consistent with others*/


  p{
    line-height: 27px;
    font-family: "Verdana", sans-serif;
    text-align: justify;
}


h4{
    text-align: center;
    font-family: "Glass Antiqua", cursive;
    font-weight: bold;
    font-size: 50px;
    color:  #ffee00be;
    letter-spacing: 9px;
    text-transform: uppercase;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    
}



.title h1{
  

font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;

  color: black;
    font-size: 100px;
   
    text-align: center;

   margin-top: 100px;
    margin-bottom: 30px;

}

.title h3{
  font-size: 60px;
}


#form{
    background-color: #f4ee84;
    padding: 4%;
    border-radius: 20px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.479);
    width:60%;
    place-items: center;
    margin-left:20%;

    padding-bottom: 50px;
}


#btnDiv {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
    


#contactForm{
  width:90%;
}







#btn{
    background-color: #ffee00be;
    font: 4vw;
    color: black;
    border-radius: 7px;
    padding: 8px;  
    margin-top: 5px;
    
    border-width: 1px;
    transition: all ease 0.2s;
    
}

#btn:hover{
    transform: scale(1.2);

}
.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: flex-start;

}

label{
    width:1%;
}

.error-message {
            color: red;
            display: none;
            margin-top: 5px;
        }
 input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
 }      

@media (max-width: 800px) {
    #form {
      width: 65%;
      padding:40px;
      margin-right: 0;
      margin-left: 18%;
    }
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

}

@media (max-width: 400px) {
  #form {
    width: 100%;
    padding:40px;
    margin-left: 0;
    margin-right: 0;
  }


.title{
  display: none;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

}

.mother{
  display: flex;
  flex-direction: row;
  

 
}

.part1{

  width: 50%;
  background-color:  #fdfbd4;
  padding-bottom: 50px;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.479);
  height: 100%;

  
}

.part2{
  background: url(../IMAGES/contact1.jpg);
  background-color: r;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  


}





/*the demmn footer*/

.footer{
  height: 120px;
  border: 3px solid black;
  background: black;

  display: inline-block;
  box-direction: column;
  align-items: center;
  
width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  

  
}

.footer a{
  color: rgb(255, 255, 255);
  font-size: 25px;
  

}

.footer p{
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (max-width: 1052px) {
    #form {
      flex-direction: column;
    }
    .part2 {
      display: none;
    }
    .part1{
      padding: 30px 20px;
      width: 100%;
      box-shadow: none;
    }

  }

  @media (max-width: 680px) {
    #form {
      flex-direction: column;
    }
    .part2 {
      display: none;
    }
    .part1{
      padding: 30px 20px;
      width: 100%;
      box-shadow: none;
    }

    .part1 h1{
      font-size: 70px;
    }
  }


@media (max-height: 680px) {
    #form {
      flex-direction: column;
    }
  }
