/* NAV BAR START */
.navBar{
  background-color: white;
  height: 72px;
 
  color: white;
  
  display: flex;
  align-items: center;
  
  z-index: 100;
}


.navLogo a{
  text-decoration: none;
  color: #470606b2;
  font-family: fantasy;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}

nav a{
  list-style:none;
  display: inline-block;
  
  font-weight: 500;
  text-decoration: none;

  font-size: 18px;
  margin: 0 20px;
  color: black;
  padding: 18px;

 

  font-family: "Verdana", sans-serif;
}

.menu a:hover{
  color:rgb(255, 255, 255);
  background-color:#b20a72;
}



nav{
  margin-right: 0;
  margin-left: 11vw;
  justify-content: flex-end;
  place-content: center;
  display: flex; 
}



#brandlogo{
  width: auto;
  height: 60px;
  margin-left: 50px;
  margin-right: 20px;
}

  
  .sideBar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.716);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
  }
  
  #linkSide{
    width: 50%;
  }
  
  
  
  #menuButton{
    display: none;
  }
  
  @media (max-width: 1149px){
    .menu{
      margin-left: 0;
      gap: 2px;
    }
  
    #menuButton{
      display: inline-block;
      margin-right: 10px;
      cursor: pointer
  
      
    }
  
    nav a{
      font-size: 18px;
    }
  
    .navLogo{
      margin-right: auto;
    }
  
    .hideOnMobile{
      display: none;
    }
  
  
  }

  @media (max-width: 400px){
    .sideBar{
      width: 100%;
    }
  
    nav a{
      font-size: 18px;
    }
  
    #brandlogo{
      display: none;
    }

    #name{
      margin-left: 20px;
    }
  }
  
  @media (max-width: 1920px){
    .menu{
      margin-left: auto;
    }
  }
  
  /* NAV BAR END */


body{
    background-image: url(../IMAGES/backgroundImage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0;
    padding: 0;
    
    height: 100vh;
    width: auto;

}


.title{
   text-align: center;
    font-family:fantasy;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.568);
}

.title h1{
  font-size: 70px;
}

.title h3{
  font-size: 60px;
}


#form{
    background-color: #c4c4c4d7;
    padding: 4%;
    border-radius: 20px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.479);
    width: 30%;
    margin-right: 0;
    margin-left: 35%;
    display: flex;
    justify-content: center;
}
#btn{
    background-color:  #3e3a19;
    font: 4vw;
    color: white;
    border-radius: 7px;
    padding: 8px;  
    margin-top: 5px;
    
}

#btn:hover{
    transform: scale(1.2);

}
.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: flex-start;

}

label{
    width:1%;
}

.error-message {
            color: red;
            display: none;
            margin-top: 5px;
        }
 input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
 }      

@media (max-width: 800px) {
    #form {
      width: 65%;
      padding:40px;
      margin-right: 0;
      margin-left: 18%;
    }
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

}

@media (max-width: 400px) {
  #form {
    width: 100%;
    padding:40px;
    margin-left: 0;
    margin-right: 0;
  }


.title{
  display: none;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

}
